  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
  }

  body {
    margin: 0;
    height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    background-color: #E5E5E5;
    color: #000000;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.page-header {
  width: 1060px;
  display: flex;
  margin: 0 auto;
  padding: 0;
  margin-bottom: -11px;
}

.main-index {
  flex-grow: 1;
  text-align: center;
}

.navigation {
  width: 920px;
  display: flex;
  margin: 0;
  margin-top: 1px;
  padding: 0;
}

.logo-link {
  margin: 0;
  margin-right: 31px;
  padding: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #000000;
  list-style-type: none;
}

.navigation-pages {
  margin-right: auto;
  font-size: 20px;
  line-height: 26px;
}

.navigation-link {
  display: block;
  margin: 0;
  margin-right: 2px;
  padding: 20px 16px;
  color: #000000;
  text-decoration: none;
}

.navigation-user {
  margin-top: 0px;
}

.navigation-user:nth-child(2) {
  position: relative;
}

.navigation-search {
  margin-right: 10px;
}

.navigation-favorites {
  margin-right: 25px;
}

.favorites-count {
  position: absolute;
  top: 2px;
  right: 200px;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  padding: 3px 4px;
}

.navigation-item .button {
  padding: 10px 34px 7px 35px;
  margin-top: 12px;
}

.current-page {
  width: 68;
  border-bottom: 2px solid #756257;;
}

.button {
  font-family: "PT Sans";
  font-style: normal;
  box-sizing: content-box;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
}

.blue-button:hover,
.blue-button:focus {
  background-color: #68A2CA;
}

.greeting {
  margin: 0;
  padding: 0;
  background:
    url(../images/divider.svg) bottom no-repeat,
    url(../images/backgroundwelcom_canyon.jpg) no-repeat;
  background-repeat: no-repeat;
  z-index: 0;
}

.greeting-welcome-image {
  display: block;
  padding: 50px 371px 83px;
}

.intro {
  padding: 64px 272px 90px;
}

.intro-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.intro-description {
  margin: 0;
  margin-top: 30px;
}

.advantages {
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(131, 179, 211, 0.12);
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  padding: 102px 84px;
}

.advantages-item .advantages-title {
  margin: 0;
}

.advantages-item .advantages-number {
  margin: 0;
}

.advantages-item .advantages-description {
  margin: 0;
}


.advantages-wrapper {
  margin: 0;
  padding: 92px 84px;
}

.advantages-wrapper:nth-child(2) {
  margin-left: 10px;
}

.advantages-wrapper .advantages-title {
  margin: 0;
  margin-bottom: 30px;
}

.advantages-wrapper .advantages-number {
  margin: 0;
  margin-bottom: 30px;
}

.advantages-wrapper .advantages-description {
  margin: 0;
}

.advantages-offer {
  display: flex;
  gap: 30px;
  flex-direction: column;
  box-sizing: border-box;;
  min-width: 400px;
  margin: 0;
  padding: 80px 84px 77px;
}

.advantages-offer .offer-image {
  order: -1;
  margin: 0 auto;
}

.advantages-offer .advantages-title {
  margin: 0;
  margin-top: 1px;
}

.advantages-offer .advantages-description {
margin: 0;
}

.advantages-item-image {
  display: flex;
  width: 1200px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.secondary-bg {
  background-color: #FFFFFF;
}

.thirdly-bg {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.registration-title {
  font-weight: 700;
  margin: 92px 452px 29px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.registration-description {
  margin: 0 304px 54px 296px;
}

.registration-button {
  font-size: 20px;
  line-height: 36px;
  width: 544px;
  box-sizing: content-box;
  margin: 0 312px 93px;
  padding: 12px 15px;
}

.subscription-page {
  background-image: url(../images/subscription_background.jpg);
  color: #FFFFFF
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 94px 398px 30px;
}

.subscription-description {
  margin: 0;
  padding: 0 362px 45px;
}

.subscription-field {
  display: grid;
  grid-template-columns: 600px 200px;
  justify-content: center;
  padding-bottom: 94px;
}

.subscription-field input {
  display: block;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
}
.subscription-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  width: 170px;
  box-sizing: content-box;
  margin: 0;
  padding: 12px 15px;
}

.page-footer {
  display: flex;
  align-items: center;
  margin: 46px 70px 30px;
}

.footer-social-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 0;
  margin: 0;
  margin-left: 12px;
  margin-right: 246px;
}

.footer-social-item {
  margin-left: 0;
}

.social-icon {
  fill: #83B3D3;
}

.social-icon:hover,
.social-icon:focus {
  fill: #68A2CA;
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  margin-right: 230px;
  color: #000000;
  text-decoration: none;
}

.footer-contacts-phone:hover,
.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  fill: #000000;
  margin-top: 2px;
}

.htmlacademy-link:hover,
.htmlacademy-link:focus {
  fill: #756157;
}

.htmlacademy-link:active {
  fill: rgba(117, 97, 87, 0.3);
}

.inner-header {
  background-image: url(../images/background_filter.jpg);
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
}

.filter-container {
  margin: 30px 70px 70px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-size: 16px;
  display: flex;
  list-style-type: none;
  align-items: center;
}

.breadcrumbs-link {
  display: block;
  min-width: 15px;
  min-height: 15px;
  margin: 0;
  padding: 5px;
  fill: #FFFFFF
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-home {
  fill: #FFFFFF;
}

.breadcrumbs-home:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-home:active {
  fill: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link.arrow {
  background: url(../images/breadcrumbs_arrow.svg) center no-repeat;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  min-width: 150px;
  margin: 0;
  padding: 0;
}

.catalog-filter-group:first-child {
  margin-right: 70px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 175px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.catalog-filter-title {
  margin: 0;

  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-sorting {
  width: 1060px;
  display: flex;
  margin: 58px 70px 60px;
}

.catalog-sorting-title {
  margin: 0;
  margin-right: 190px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  align-self: center;
}

.catalog-sorting-select {
  width: 290px;
  font-size: 18px;
  line-height: 21px;
  margin-right: auto;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.catalog-filter-buttons .apply {
  font-weight: 400;
  background-color: #82B3D3;
}

.sort-icons {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.sort-icon {
  width: 16px;
  height: 14px;
  margin: 0;
  padding: 0;
}

.sort-icon.table {
  background: url(../images/icon-table.svg) center no-repeat;
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 14px 12px;

}

.sort-icon.slideshow {
  background: url(../images/icon-slideshow.svg) center no-repeat;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 12px;
}

.sort-icon.list {
  background: url(../images/icon-list.svg) center no-repeat;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 14px 12px;
}

.catalog-hotels {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap:  0 18px;
  margin: 0 70px;
  justify-content: space-between;
  text-align: start;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px;
  padding: 20px;
}

.hotel-card-llink {
  grid-column: 1/-1;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-top: 16px;
}

.hotel-card-coast {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 0 20px;
  grid-column: 1/-1;
  margin: 0;
  padding: 0;
  width: 300px;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-coast dd {
  margin: 0;
}

.hotel-card-buttons {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 20px;
}

.favorites {
  background-color: #82B3D3;
}

.favorites-in {
  background-color: #7DB54F;
}

.favorites-in:hover,
.favorites-in:focus {
  background-color: #6C9E42;
}

.hotel-card-stars {
  width: 140px;
  background: url(../images/star.svg) center repeat;
  grid-column: 1/2;
  align-items: center;
}

.hotel-card-rating {
  padding: 8px 22px;
  grid-column: 2/-1;
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

.inner-divider {
  margin: 66px 72px 30px;
}

.pagination {
  display: flex;
  margin: 0 70px;
}

.pagination-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-right: 270px;
  padding: 0;
  border-radius: 4px;
}

.pagination-item {
  padding: 12px 24px;
  margin-right: 8px;
  background-color: #82B3D3;
  color: #FFFFFF;
  border-radius: 4px;
}

.pagination-item:last-child {
  padding: 12px 20px;
}

.pagination-item:hover:not(:first-child),
.pagination-item:focus:not(:first-child) {
  background-color: #68A2CA;
}

.pagination-item:active {
  color: rgba(255, 255, 255, 0.3);

}

.pagination-item:last-child {
  margin: 0;
  margin-right: 0;
}

.pagination-count {
  display: grid;
  grid-template-columns: 1fr 160px;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  margin: auto 0;
}

.pagination-count-text {
  margin: 0;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000
}



.subscription-inner {
  text-align: center;
}
