  @font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
  }

  @font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
  }

  html {
  height: 100%;
  }

  body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #E5E5E5;
  color: #000000;
  }

.visually-hidden {
  position: absolute;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  }

.container {
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.page-header {
  width: 1060px;
  display: flex;
  margin: 0 auto;
  padding: 0;
  margin-bottom: -11px;
}

.main-header {
  z-index: 1;
}

.main-index {
  flex-grow: 1;
  text-align: center;
  z-index: 0;
}

.navigation {
  width: 920px;
  display: flex;
  margin: 0;
  margin-top: 1px;
  padding: 0;
}

.logo-link {
  position: relative;
  margin: 0;
  margin-right: 31px;
  padding: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #000000;
  list-style-type: none;
}

.navigation-pages {
  margin-right: auto;
  font-size: 20px;
  line-height: 26px;
}

.navigation-link {
  display: block;
  margin: 0;
  margin-right: 2px;
  padding: 20px 16px;
  color: #000000;
  text-decoration: none;
}

.navigation-user {
  margin-top: 0;
}

.navigation-user .navigation-link {
  padding: 20px 3px;
}

.navigation-user .navigation-item:first-child {
  margin-right: 2px;
}

.navigation-user:nth-child(2) {
  position: relative;
}

.navigation-search {
  margin-right: 12px;
}

.navigation-favorites {
  margin-right: 25px;
}

.favorites-count {
  position: absolute;
  top: 14px;
  right: 178px;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: normal;
  line-height: 13px;
  padding: 3px 4px;
}

.navigation-item .button {
  padding: 10px 34px 7px 35px;
  margin-top: 12px;
}

.current-page {
  padding-bottom: 18px;
  border-bottom: 2px solid #756257;;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  box-sizing: content-box;
  background-color: #756157;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

.blue-button {
  background-color: #83B3D3;
}

.button:hover,
.button:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
}

.blue-button:hover,
.blue-button:focus {
  background-color: #68A2CA;
}

.greeting {
  margin: 0;
  padding: 0;
  background-color: rgba(131, 179, 211, 0.2);
  background:
    url(../images/divider.svg) bottom no-repeat,
    url(../images/backgroundwelcom_canyon.jpg) no-repeat;
  background-repeat: no-repeat;
}

.greeting-welcome-image {
  display: block;
  padding: 50px 371px 83px;
}

.intro {
  padding: 64px 272px 90px;
}

.intro-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.intro-description {
  margin: 0;
  margin-top: 30px;
}

.advantages {
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(131, 179, 211, 0.12);
  font-size: 18px;
  line-height: 21px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-item {
  width: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
  padding: 102px 84px;
}

.advantages-item .advantages-title {
  margin: 0;
}

.advantages-item .advantages-number {
  margin: 0;
}

.advantages-item .advantages-description {
  margin: 0;
}


.advantages-wrapper {
  margin: 0;
  padding: 92px 84px;
}

.advantages-wrapper:nth-child(2) {
  margin-left: 10px;
}

.advantages-wrapper .advantages-title {
  margin: 0;
  margin-bottom: 30px;
}

.advantages-wrapper .advantages-number {
  margin: 0;
  margin-bottom: 30px;
}

.advantages-wrapper .advantages-description {
  margin: 0;
}

.advantages-offer {
  display: flex;
  gap: 30px;
  flex-direction: column;
  box-sizing: border-box;;
  min-width: 400px;
  margin: 0;
  padding: 80px 84px 77px;
}

.advantages-offer .offer-image {
  order: -1;
  margin: 0 auto;
}

.advantages-offer .advantages-title {
  margin: 0;
  margin-top: 1px;
}

.advantages-offer .advantages-description {
margin: 0;
}

.advantages-description-plus {
  padding: 0 30px;
}

.advantages-item-image {
  display: flex;
  width: 1200px;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.secondary-bg {
  background-color: #FFFFFF;
}

.thirdly-bg {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.registration-title {
  font-weight: 700;
  margin: 92px 452px 29px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.registration-description {
  margin: 0 304px 54px 296px;
}

.registration-button {
  font-size: 20px;
  line-height: 36px;
  width: 544px;
  box-sizing: content-box;
  margin: 0 312px 93px;
  padding: 12px 15px;
}

.subscription-page {
  background-image: url(../images/subscription_background.jpg);
  color: #FFFFFF
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 94px 398px 30px;
}

.subscription-description {
  margin: 0;
  padding: 0 362px 45px;
}

.subscription-field {
  display: grid;
  grid-template-columns: 600px 200px;
  justify-content: center;
  padding-bottom: 94px;
}

.subscription-field input {
  display: block;
  width: 100%;
  border: none;
  margin: 0;
  padding: 20px 22px 14px;
  border-radius: 10px 0 0 10px;
  box-sizing: border-box;
  font: inherit;
  font-size: 19px;
}
.subscription-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  width: 170px;
  box-sizing: content-box;
  margin: 0;
  padding: 12px 15px;
  border-radius: 0 10px 10px 0;
}

.page-footer {
  display: flex;
  align-items: center;
  margin: 46px 70px 30px;
}

.footer-social-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 0;
  margin: 0;
  margin-left: 12px;
  margin-right: 246px;
}

.footer-social-item {
  margin-left: 0;
}

.social-icon {
  fill: #83B3D3;
}

.social-icon:hover,
.social-icon:focus {
  fill: #68A2CA;
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  margin-right: 230px;
  color: #000000;
  text-decoration: none;
}

.footer-contacts-phone:hover,
.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  fill: #000000;
  margin-top: 2px;
}

.htmlacademy-link:hover,
.htmlacademy-link:focus {
  fill: #756157;
}

.htmlacademy-link:active {
  fill: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px 70px;
  background-color: #FFFFFF;
}

.modal-search {
  box-sizing: border-box;
  width: 716px;
  border-radius: 30px;
}

.modal-button-close {
  position: absolute;
  width: 54px;
  height: 54px;
  padding: 0;
  margin: 0;
  top: 57px;
  right: 70px;
  background-color: #F2F2F2;
  background-image: url(../images/modal-button-close.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}

.modal-button-close:hover {
  background-color: #E6E6E6;
}

.modal-button-close:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}
.modal-button-close:active {
  background-color: #e6e6e6;
  opacity: 0.6;

}

.modal-title {
  margin: 0;
  margin-bottom: 60px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.date-field {
  display: grid;
  grid-template-columns: 130px 1fr;
  gap: 25px;
  align-items: center;
  margin: 0;
  margin-bottom: 6px;
}

.count-field {
  position: relative;
  margin: 0;
}

.count-field:first-child {
  margin-right: 55px;
}

.field-label {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.label-adult {
  margin-right: 58px;
}

.label-kid {
  margin-right: 44px;
}

.warring-date {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FF5757;
  margin: 0;
  margin-left: 155px;
  margin-bottom: 10px;

}

.notification-date {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  margin: 0;
  margin-left: 155px;
  margin-bottom: 12px;
}

.date-input {
  padding: 15px 200px 12px 19px;
  flex-grow: 1;
  margin-bottom: 4px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  background-image: url(../images/modal_input_calendar.svg);
  background-position: right 20px center;
  background-repeat: no-repeat;
}

.date-input:hover {
  background-color: #E6E6E6;
}

.date-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}
.date-input:active {
  background-color:  #FFFFFF;
  box-shadow: inset 0 0 0 2px #000000;
}

.count-input {
  box-sizing: border-box;
  width: 134px;
  padding: 14px 60px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
}

.count-input::-webkit-outer-spin-button,
.count-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.modal-count-wrapper {
  display: flex;
  margin-bottom: 40px;
}

.modal-tooltip {
  position: absolute;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  font-size: 12px;
  color: #FFFFFF;
  padding: 0;
  border-radius: 50%;
  background-color: #83B3D3;
  top: 50%;
  transform: translateY(-50%);
  left: 54px;
  background-image: url(../images/modal_tooltip.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.tooltip-popover {
  position: absolute;
  box-sizing: border-box;
  width: 256px;
  padding: 16px 18px 22px 22px;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #FFFFFF;
  top: 52px;
  right: 37px;
}

.tooltip-popover::before {
  position: absolute;
  content: " ";
  width: 19px;
  height: 19px;
  background-color: #333333;
  left: 50%;
  transform: translateX(-53%) rotate(45deg);
  top: -6px
}

.tooltip-popover-close {
  display: none;
}

.modal-search-button {
  box-sizing: border-box;
  width: 576px;
  padding: 12px 26px;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 36px;
  border-radius: 10px;
}

.modal-search-button:hover {
  background-color: #68A2CA;
}

.modal-search-button:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
}
.modal-search-button:active {
  background-color: #68A2CA;
  color:rgba(255, 255, 255, 0.3);
  outline: none;
}

.count-slider-wrapper {
  position: relative;
  width: 133px;
  margin: 0;
  padding: 0;
}

.slider-button {
  position: absolute;
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
}

.slider-button:hover {
  opacity: 1;
}
.slider-button:focus {
  opacity: 1;
  box-shadow: inset 0 0 0 3px #83B3D3;
}
.slider-button:active {
  opacity: 0.3;
  box-shadow: none;
}

.slider-less {
  background-image: url(../images/slider-less.svg);
  background-position:center;
  background-repeat: no-repeat;
  opacity: 0.3;
  left: 13px;
  top: 51%;
  transform: translateY(-50%);
}

.slider-more {
  background-image: url(../images/slider-more.svg);
  background-position:center;
  background-repeat: no-repeat;
  opacity: 0.3;
  right: 14px;
  top: 52%;
  transform: translateY(-50%);
}

.inner-header {
  background-image: url(../images/background_filter.jpg);
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
}

.filter-container {
  margin: 39px 70px 71px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 16px;
  display: flex;
  list-style-type: none;
  align-items: center;
}

.breadcrumbs-link {
  display: block;
  min-width: 15px;
  min-height: 15px;
  margin: 0;
  margin-right: 18px;
  padding: 5px 2px;
  fill: #FFFFFF
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  position: absolute;
  width: 6px;
  height: 8px;
  content: "";
  background-image: url(../images/breadcrumbs_arrow.svg);
  top: 50%;
  transform: translateY(-60%);
  right: 7px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-home {
  fill: #FFFFFF;
}

.breadcrumbs-home:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-home:active {
  fill: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  min-width: 150px;
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-group:first-child {
  margin-right: 70px;
}

.catalog-filter-group:nth-child(2) {
  margin-right: 171px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.catalog-filter-title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-title:nth-child(3) {
  margin-top: 2px;
  margin-bottom: 39px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 14px;
}

.control {
  position: relative;
  display: block;
  padding-left: 40px;
  cursor: pointer;
}

.control-input[type="checkbox"]:checked + .control-mark-checkbox {
  background-image: url(../images/checkbox.svg);
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
}

.control-mark-checkbox {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
  left: 1px;
}

.control:hover .control-mark-checkbox {
  opacity: 0.6;
}

.control-input[type="checkbox"]:focus + .control-mark-checkbox {
  opacity: 0.6;
  outline: 3px solid #83B3D3;
}

.control:active .control-mark-checkbox {
  opacity: 0.3;
}

.control-input[type="radio"]:checked + .control-mark-radio {
  background-image: url(../images/radio.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.control-mark-radio {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  left: 1px;
}

.control-input[type="radio"]:focus + .control-mark-radio {
  outline: 3px solid #83B3D3;
}

.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 70px;
}

.catalog-filter-buttons .apply {
  background-color: #82B3D3;
  margin-bottom: 20px;
  padding: 14px 35px;
}

.reset {
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  font-size: 15px;
  margin-top: 1px;
}

.coast-area-inputs {
  display: flex;
}

.coast-area {
  position: relative;
}

.coast-area-input::-webkit-outer-spin-button,
.coast-area-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.coast-area-input {
  width: 144px;
  box-sizing: border-box;
  margin-top: 3px;
  padding: 12px 16px;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 0 4px 4px 0;
  font: inherit;
  color: #FFFFFF;
  cursor: pointer;
}

.coast-area-input-style {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.coast-area-input:hover {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.coast-area-input:focus {
  outline: 3px solid #81B3D2;
  box-shadow: inset 0 0 0 3px #81B3D2;
}

.coast-area-input:active {
  background-color: #756257;
}

.coast-area-point {
  position: absolute;
  font: inherit;
  opacity: 0.3;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);;
  margin-top: 27px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  outline: 2px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.catalog-sorting {
  width: 1080px;
  display: flex;
  margin: 58px 70px 53px;
}

.catalog-sorting-title {
  margin: 0;
  margin-right: 193px;
  margin-left: 2px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  align-self: center;
}

.catalog-sorting-select {
  position: relative;
  top: -3px;
  width: 290px;
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: 21px;
  margin-right: 78px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  padding: 12px 20px;
  appearance: none;
  background-image: url(../images/select-arrow.svg);
  background-position: right 18px center;
  background-repeat: no-repeat;
}

.catalog-sorting-select:hover,
.catalog-sorting-select:focus {
  border: 2px solid #68A2CA;
}

.catalog-sorting-select:active {
  border: 2px solid #3F5E72;
}

.catalog-sorting-select:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.sort-icons {
  position: relative;
  top: -3px;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
}

.sort-icon {
  width: 20px;
  height: 16px;
  margin: 0;
  padding: 0;
  border: 2px solid #E5E5E5;
}

.sort-icon:not(:last-child) {
  margin-right: 8px;
}

.sort-icon:hover,
.sort-icon:active {
  border: 2px solid #000000;
}

.sort-icon:focus {
  border: 2px solid #68A2CA;

}

.sort-icon.table {
  background: url(../images/icon-table.svg) center no-repeat;
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 14px 12px;

}

.sort-icon.slideshow {
  background: url(../images/icon-slideshow.svg) center no-repeat;
  border-radius: 4px;
  padding: 14px 12px;
}

.sort-icon.list {
  background: url(../images/icon-list.svg) center no-repeat;
  border-radius: 4px;
  padding: 14px 12px;
}

.catalog-hotels {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 0 18px;
  margin: 0 70px;
  text-align: start;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  padding: 20px 23px 20px 23px;
  column-gap: 20px;
}

.hotel-card-image {
  display: block;

}

.hotel-card-llink {
  grid-column: 1/-1;
  text-decoration: none;

}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  margin-top: 18px;
}

.hotel-card-coast {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 0 20px;
  grid-column: 1/-1;
  margin: 0;
  margin-top: 15px;
  padding: 0;
  width: 300px;
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-coast dd {
  margin: 0;
}

.hotel-card-buttons {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 20px;
  margin-top: 16px;
}

.favorites {
  background-color: #82B3D3;
}

.favorites-in {
  background-color: #7DB54F;
}

.favorites-in:hover,
.favorites-in:focus {
  background-color: #6C9E42;
}

.hotel-card-stars {
  display: flex;
  gap: 6px;
  width: 140px;
  grid-column: 1/2;
  align-items: center;
  margin-top: 17px;
}

.hotel-card-star {
  width: 18px;
  height: 18px;
  background-image: url(../images/star.svg);
}

.hotel-card-rating {
  padding: 8px 22px;
  grid-column: 2/-1;
  font-size: 16px;
  line-height: 20px;
  background-color: #F2F2F2;
  text-transform: uppercase;
  margin-top: 17px;
}

.inner-divider {
  margin: 66px 72px 30px;
}

.pagination {
  display: flex;
  margin: 35px 70px 31px 74px;
}

.pagination-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  margin-right: 270px;
  padding: 0;
  border-radius: 4px;
}

.pagination-item {
  margin: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  padding: 18px 24px;
  background-color: #82B3D3;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-item:last-child .pagination-link {
  padding: 18px 18px;
}

.pagination-link:hover:not(.pagination-current),
.pagination-link:focus:not(.pagination-current) {
  background-color: #68A2CA;
  box-shadow: inset 0 0 1px 1px #82B3D3;
  outline: none;
}

.pagination-link:active:not(.pagination-current) {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:last-child {
  margin: 0;
  margin-right: 0;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-count-text {
  margin: 0;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000
}

.pagination-count {
  display: grid;
  grid-template-columns: 1fr 160px;
  gap: 51px;
  align-items: center;
  font-size: 18px;
  line-height: 21px;
  margin: auto 0;
}

.pagination-count-select {
  position: relative;
  top: -1px;
  padding: 15px 20px;
  appearance: none;
  background-image: url(../images/select-arrow.svg);
  background-position: right 18px center;
  background-repeat: no-repeat;
  border: 2px solid #E5E5E5;
  border-radius: 4px;

}

.pagination-count-select:hover,
.pagination-count-select:focus {
  border: 2px solid #68A2CA;
}

.pagination-count-select:active {
  border: 2px solid #3F5E72;
}

.pagination-count-select:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.subscription-inner {
  text-align: center;
}

.subscription-title-inner {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 94px 398px 28px;
}

.subscription-description-inner {
  margin: 0;
  padding: 0 362px 45px 365px;

}

.subscription-email-inner input {
  margin: 0;
  padding: 18px 22px 16px;
  font-family: "PT Sans",sans-serif;
  font-size: 18px;
  background-color: #F2F2F2;
}
